@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #18181b;
}   

h1 {
    color: #fafafa;
    font-family: 'Fredoka';
    font-weight: 450;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card-link {
    color: #fafafa;
    text-decoration: none;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #52525b;
    background-color: #272729;
    border-radius: 10px;
    transition: .2s ease;
}

.card:hover {
    border: 2px solid #fafafa;
}

.card h4 {
    color: #fafafa;
    font-family: 'Fredoka';
    font-weight: 450;
}

.card p {
    color: #fafafa;
    font-family: 'Fredoka';
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
