@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #18181b;
}   

h1 {
    color: #fafafa;
    font-family: 'Fredoka';
    font-weight: 450;
}

.college-link {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    border: 2px solid #52525b;
    background-color: #272729;
    text-decoration: none;
    font-family: 'Fredoka';
    color: #fafafa;
    transition: .2s ease;
}

.college-link:hover {
    border-color: #fafafa;
}

.college-container {
    display: flex;
    max-width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}