@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #18181b;
}   

h1 {
    color: #fafafa;
    font-family: 'Fredoka';
    font-weight: 450;
}