@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

::-webkit-scrollbar {
  display: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #18181b;
    font-family: 'Fredoka';
}   

h1 {
    color: #fafafa;
    font-family: 'Fredoka';
    font-weight: 450;
}

.leaderboard-container {
    display: flex;
    justify-content: center;
}

.leaderboard-table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px;
    overflow: hidden;
}

.leaderboard-table thead tr {
    background-color: #52525b;
}

.leaderboard-table thead tr th {
    color: #fafafa;
    font-weight: 500;
    text-align: left;
}

.leaderboard-table th, 
.leaderboard-table td {
    padding: 4px 5px;
    white-space: nowrap;
}

.leaderboard-table th:first-child,
.leaderboard-table td:first-child {
    min-width: 80px;
}

.leaderboard-table tbody tr {
    color: #fafafa;
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
}

.leaderboard-table tbody tr:nth-of-type(even) {
    background-color: #27272a;
}
