@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #18181b;
    font-family: 'Fredoka';
}

h1 {
    color: #fafafa;
    font-size: 3em;
    text-align: center;
    font-weight: 450;
}

.container {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

.player-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 20px
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    padding: 20px;
}


.flex-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.back-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fafafa;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.back-button:hover {
    color: #52525b;
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.rbar {
    margin-left: 10px;
    flex-shrink: 0;
    min-width: 200px;
}

.content-table thead .season-stat {
    background-color: #52525b;
}

.content-table thead tr th {
    color: #fafafa;
    font-weight: 500;
    text-align: left;
}

.content-table th, 
.content-table td {
    padding: 4px 5px;
    white-space: nowrap;
}

.content-table th:first-child,
.content-table td:first-child {
    min-width: 80px;
}

.content-table tbody .season-stat {
    color: #fafafa;
}

.content-table tbody .season-stat:nth-of-type(even) {
    background-color: #27272a;
}

.award-section {
    margin-top: 0;
}

.award-section p {
    color: #fafafa;
}

h2 {
    font-weight: 500;
    color: #fafafa;
    margin-bottom: 8px;
    margin-top: 0px;
}

.content-table tbody .totals,
.content-table thead tr {
    background-color: #52525b;
}

.content-table tbody .totals td {
    color: #fafafa;
    font-weight: 500;
    text-align: left;
}

.content-table tbody .season-stat {
    transition: all 0.3s ease;
    border-left: 2px solid transparent;
}

.content-table tbody .season-stat:hover {
    transition: .3s;
    border-left: 2px solid #fafafa;
    transform: translateX(2px);
}

.table-container {
    padding: 0px;
}

.pergame {
    margin-top: 20px;
}