@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #18181b;
    font-family: 'Fredoka';
}

h1 {
    color: #fafafa;
    font-size: 3em;
    text-align: center;
    font-weight: 450;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;
}

.player-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 20px
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    padding: 20px;
}


.flex-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.back-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fafafa;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.back-button:hover {
    color: #52525b;
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px;
    overflow: hidden;
    overflow-x: auto;
}

.rbar {
    margin-left: 10px;
    flex-shrink: 0;
    min-width: 200px;
}

.content-table thead .season-stat {
    background-color: #52525b;
}

.content-table thead tr th {
    color: #fafafa;
    font-weight: 500;
    text-align: left;
}

.content-table th, 
.content-table td {
    padding: 4px 5px;
    white-space: nowrap;
}

.content-table th:first-child,
.content-table td:first-child {
    min-width: 80px;
}

.content-table tbody .season-stat {
    color: #fafafa;
}

.content-table tbody .season-stat:nth-of-type(even) {
    background-color: #27272a;
}

.award-section {
    margin-top: 0;
    margin-bottom: 30px;
}

.award-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.award-section p {
    color: #fafafa;
}

.total-awards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    color: #fafafa;
    text-align: center;
    padding: 20px;
    gap: 20px;
    width: 95%;
}

h2 {
    font-weight: 500;
    color: #fafafa;
    margin-bottom: 8px;
    margin-top: 0px;
}

.content-table tbody .totals,
.content-table thead tr {
    background-color: #52525b;
}

.content-table tbody .totals td {
    color: #fafafa;
    font-weight: 500;
    text-align: left;
}

.content-table tbody .season-stat {
    transition: all 0.3s ease;
    border-left: 2px solid transparent;
}

.content-table tbody .season-stat:hover {
    transition: .3s;
    border-left: 2px solid #fafafa;
    transform: translateX(1px);
}

.table-container {
    padding: 0px;
}

.pergame {
    margin-top: 20px;
    margin-bottom: 20px;
}


.total-awards .total-awards-container div {
    text-align: center;
    color: #fafafa;
    transition: all .3s ease;
    cursor: pointer;
}

.general-stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 10px;
    color: #fafafa;
    text-align: center;
    padding: 20px;
    width: 95%;
}



.general-stats-container a {
    text-decoration: none;
    color: #fafafa;
}

.general-stats-container .general-stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.general-stats-container .general-stat .general-stat-item {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #272729;
    border: 2px solid #52525b;
    transition: .2s ease;
}

.general-stats-container .general-stat .general-stat-item:hover {
    border: 2px solid #fafafa;
}

.hw-stat-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: #272729;
}

.hw-stat-item-l {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.hw-stat-item-r {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 2px solid #52525b;
}


.hw-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 2px solid #52525b;
    border-radius: 12px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.center p {
    color: #fafafa;
    font-family: 'Fredoka';
    margin-bottom: 5px;
}

.award-total {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #272729;
    border: 2px solid #52525b;
}
