@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #18181b;
    color: #fafafa;
    font-family: 'Fredoka';
}   

h1 {
    color: #fafafa;
    font-family: 'Fredoka';
    font-weight: 450;
}

h2 {
    color: #fafafa;
    font-family: 'Fredoka';
    font-weight: 400;
    font-size: 1.5rem;
}

.countries-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.letter-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.letter-section h2 {
    padding-left: 10px;
    border-left: 2px solid #fafafa;
}

.letter-countries {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.letter-countries a {
    color: #fafafa;
    font-family: 'Fredoka';
    text-decoration: none;
}

.letter-countries div {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #52525b;
    background-color: #272729;
    transition: .2s ease;
    min-width: 150px;
}

.letter-countries div:hover {
    border-color: #fafafa;
    transform: translateY(-2px);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.letter-bar {
    background-color: #070707;
    border-radius: 20px;
    border: 2px solid #52525b;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.letter-bar p {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .2s ease;
    user-select: none;
}

.letter-bar p:hover {
    background-color: #272729;
}