@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #18181b;
    overflow-x: hidden;
    overflow-y: hidden;
}   

h1 {
    color: #fafafa;
    font-family: 'Fredoka';
    font-weight: 450;
    transition: all 0.3s ease;
}

.search-icon {
    color: white;
    font-size: 1.5em;
}

.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fafafa;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.back-button:hover {
    color: #6e7078;
}

button {
    background-color: #27272a;
    border: none;
    border-radius: 10px;
    height: 36px;
    aspect-ratio: 1 / 1;
    transition: 0.3s;
    cursor: pointer;  
    display: flex;  
    align-items: center;  
    justify-content: center; 
}

button:hover {
    background-color: #52525b;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.home-container {
    position: relative;
    background-color: #27272a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    padding: 30px;
    transition: all 0.3s ease; 

}

.search-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    transition: all 0.3s ease;
}

.search-container {
    display: flex;
    align-items: center;  
    gap: 10px;
}


input[type='text'] {
    font-family: 'Fredoka';
    color: #fafafa;
    background: none;
    border: none;
    background: #3f3f46;
    border-radius: 10px;
    padding: 10px;
    width: 40vw;
}

input:focus {
    outline: none;
    background-color: #52525b;
    transition: .3s;
}

.search-input-wrapper {
    position: relative;
    width: fit-content;
}

.suggestions-dropdown {
    top: 100%;
    left: 0;
    right: 0;
    background: #3f3f46;
    border-top: none;
    border-radius: 10px;  
    max-height: 300px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
}

.back-link {
    color: #fafafa; 
    font-family: 'Fredoka';
    margin-top: 20px;
    text-decoration: none;
    background-color: #27272a;
    padding: 15px 25px;
    text-decoration: none; 
    display: inline-block; 
    border-radius: 5px;
    transition: .3s;
}

.back-link:hover {
    background-color: #52525b;
}


.suggestions-dropdown.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


.suggestion-item {
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Fredoka';
    color: #fafafa;
    transition: background-color 0.2s ease, padding-left 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.suggestion-item:hover {
    background-color: #52525b;
    padding-left: 20px;  
}

.suggestion-item:last-child {
    border-bottom: none;
}

.suggestion-item.active {
    background-color: #52525b;
    padding-left: 20px;
}


.fish {
    position: absolute;
    font-size: 24px;
    animation: swim linear;
    opacity: 0;
    z-index: -1;
}


.player-name {
    font-weight: 500;
    flex: 1;
}

.player-career {
    margin-left: auto;
    white-space: nowrap;    
}


@keyframes swim {
    0% {
        transform: translateX(-100px) translateY(0) rotate(0deg);
        opacity: 0;
    }
    15% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.8;
    }
    85% {
        opacity: 0.7;
    }
    100% {
        transform: translateX(calc(100vw + 100px)) translateY(var(--wave)) rotate(15deg);
        opacity: 0;
    }
}

@keyframes swimReverse {
    0% {
        transform: translateX(calc(100vw + 100px)) translateY(0) rotate(180deg);
        opacity: 0;
    }
    15% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.8;
    }
    85% {
        opacity: 0.7;
    }
    100% {
        transform: translateX(-100px) translateY(var(--wave)) rotate(165deg);
        opacity: 0;
    }
}