{% extends "template.html" %}
{% load static %}
{% load filters%}
{% block title %}DataBall | Schools{% endblock %}
{% block css %}<link rel='stylesheet' type='text/css' href="{% static 'stats/css/college.css' %}">{% endblock %}
{% block script%}<script src="{% static 'stats/js/college.js' %}"></script>{%endblock%}
{% block content %}
{% include 'navbar.html' %}
<div class='center'>
    <h1 id='typewriter-search'>SCHOOLS</h1>
    <div class='letter-bar'>
        {%for l in letters%}
            <p>{{l}}</p>
        {%endfor%}
    </div>
</div>
<div class='college-container'>
    {%for letter in letters%}
        <div class='letter-section' id='letter={{letter}}'>
            <h2>{{letter}}</h2>
            <div class='letter-colleges'>
                {%for college in colleges|get_item:letter%}
                    <a href="{%url 'college' college=college%}"><div>{{college}}</div></a>
                {%endfor%}
            </div>
        </div>
    {%endfor%}
</div>
{% endblock %}