{% extends "template.html" %}
{% load static %}
{% load filters %}
{% block title %}DataBall | Points Leaderboard{% endblock %}
{% block css %}<link rel='stylesheet' type='text/css' href="{% static 'stats/css/leaderboard.css' %}">{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class='center'>
{%if per%}
    <h1>{{ stat|caps }} Leaderboard</h1>
{%else%}
    <h1>{{stat|capfirst}} Leaderboard</h1>
{%endif%}
</div>
<div class='leaderboard-container'>
    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                {%if per%}
                    <th>{{ stat|caps }}</th>
                {%else%}
                    <th>{{stat|capfirst}}</th>
                {%endif%}
                <th>Season</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{%url 'player_stats' player_name=entry.player_name%}">{{ entry.player_name }}</a></td>
                {%if per%}
                    <td>{{ entry.avg|floatformat:1}}</td>
                {%else%}
                    <td>{{ entry|getstat:stat_field|floatformat }}</td>
                {%endif%}
                <td>{{ entry.season }}</td>
                <td>{{ entry.team_abbreviation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}