<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%load static%}
  {%load filters%}
  {%load humanize%}
  <title>{%block title%}{%endblock%}</title>
  {%block css%}{%endblock%}
  {%block script%}{%endblock%}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9232908118559080"
     crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel='stylesheet' type='text/css' href="{% static 'stats/css/footer.css' %}">
  <link rel='icon' type='image/png' href="{%static 'stats/img/databall_logo.png'%}?v=2">
</head>

<body>
    {%block content%}
    
    {%endblock%}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
<footer>
    <div class="footer-links">
        <a href="#">About</a>
        <a href="mailto:tirth11804@gmail.com">Contact</a>
        <a href="https://github.com/tmehta0405" target="_blank">GitHub</a>
    </div>
    <p>&copy; 2025 DataBall | NBA Database</p>
</footer>
</html>